@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-primary: #9747ff;
  --color-primary-dark: #7135bf;
  --color-primary-light: #9747ff40;
  --color-error: #ff4e4e;
}

@font-face {
  font-family: 'IBM VGA 8x16';
  src: url('/fonts/IBM_VGA.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'IBM VGA 8x16', monospace;
}

/* Custom focus ring utility */
.focus-ring {
  @apply focus:outline-none focus:ring-1 focus:ring-primary focus:border-primary focus:shadow-[0_0_0_4px_rgba(151,71,255,0.2)];
}
